@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:purple;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
  font-family: 'Teko', sans-serif;
  padding-top: 10px;
  width: 100%;
  /*width: 100vw;*/
  height: 550px;
  /*background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #DCDCDC , #3a6186);
    color : #fff;    
}
.contact-section{
  padding-top: 10px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 2px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}

/*Products css*/

h2.title {
  color: #8B008B;
  font-family: 'Oleo Script', cursive;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.product-image-wrapper{
  border:1px solid #DCDCDC;
  overflow: hidden;
  margin-bottom:30px;
  border-radius: 1px solid black;
}

.single-products {
  position: relative;
}

.new, .sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2{
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 5px;
}
.product-overlay h2{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
}


.productinfo p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-overlay {
  background:#FFC0CB;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
  
}

.single-products:hover .product-overlay {
  display:block;
  height:100%;
}


.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color: #FE980F;
}


.product-overlay p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.add-to-cart {
  background:#FFC0CB;
  border:0 none;
  border-radius: 0;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #FFC0CB;
  border: 0 none;
  border-radius: 0;
  color: #FFC0CB;
}

.add-to-cart{
  margin-bottom: 10px;

}

.add-to-cart i{
  margin-right:5px;

  /*  font-size:20px;*/
}

.add-to-cart:hover {
  background: #FFC0CB;
  color: #FFFFFF;
}


.choose {
  border-top: 1px solid #F7F7F0;
}

.choose ul li a {
  color: #B3AFA8;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.choose ul li a i{
  margin-left:80px;
}

.choose ul li a:hover{
  background:none;
  color:#FFC0CB;
}

/*SECTION ABOUT US CSS*/





